@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  background-image: radial-gradient(circle, #696969 1px, transparent 1px),
    radial-gradient(circle, #696969 1px, transparent 1px);
  background-size: 100px 100px;
  background-position: 0 0, 50px 50px;
}
